<aside class="side-menu" [class.open]="isOpen">
  <!-- Déconnecté : invitation à se connecter -->
  <div class="side-menu-message" *ngIf="!isLoggedIn">
    Veuillez vous connecter pour accéder aux fonctionnalités
  </div>

  <!-- Connecté : profil + liens filtrés par rôle -->
  <ng-container *ngIf="isLoggedIn">
    <div class="side-menu-profile">
      <span class="avatar">{{ initials }}</span>
      <span class="profile-name">{{ fullName }}</span>
    </div>

    <ul class="side-menu-links">
      <li class="link" *ngFor="let link of visibleLinks">
        <span class="link-label">{{ link.label }}</span>
        <span class="link-badge" [style.color]="link.color">{{ link.badge }}</span>
      </li>
    </ul>
  </ng-container>
</aside>
